.weddingdate{
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
}



.custom-shape-divider-top-1628429118 .shape-fill {
  fill: #F2F2F2;
}

.custom-shape-divider-bottom-1628428469 {
  
  transform: rotate(180deg);
}


.custom-shape-divider-bottom-1628428469 .shape-fill {
  fill: #F2F2F2;
}

