
.special{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 15px;
    background-color: #F2F2F2;
    margin-top: 50px;
    
}
.copyright{
    font-size: 15px;
    
}
a {
    color: #0F2A5F;
    
  }